* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body > header {
    background-color: rgb(18, 18, 18);
    padding: 16px 0;
    color: #d5d5d5;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 16px;
}

header li a {
    color: #d5d5d5;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article a {
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration: underline;
}

section {
    padding: 16px;
}

section h2 {
    font-size: 32px;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

#sports {
    background-color: rgba(100, 100, 100, 0.1);
}

#sports .articles article a {
    background-color: rgba(100, 100, 100, 12);
    color: black;
}

#economy {
    background-color: rgba(100, 100, 100, 0.3);
}

#economy .articles article a {
    background-color: rgba(65, 65, 65, 12);
    color: black;
}